.showcase {

  /* flex for centering */
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.showcase a {

  /* flex for centering*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /* sizing */
  width: 200px;
  height: 200px;

  /* spacing */
  margin: 10px;
  padding: 10px;

  /* Misc visuals */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
  /* Transition */
  transition: 0.25s;
}

.showcase a:hover {
  background: #dddddd;

  /* overriding general links behavior */
  text-decoration: none;
}

.showcase .showcase_image_wrapper {

  /* flex for centering */
  display: flex;
  align-items: center;
  justify-content: center;

  /* sizing */
  width: 100%;
  height: 100%;
}

.showcase_image_wrapper img {

  /* seems not to be working with IE */
  max-width: 100%;
  max-height: 100%;

  /* trying to sovle rotation bug */
  image-orientation: from-image;
}

.showcase .showcase_caption_wrapper {
  color: black;
  margin: 5px;
}
